.post-card {
  background: white;
  padding: 14px;
  border-radius: 12px;
  margin-bottom: 18px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.username {
  font-weight: 600;
  margin-bottom: 4px;
}

.post-text {
  font-size: 14px;
  margin-bottom: 6px;
}

/* IMAGE */
.post-image-wrapper {
  position: relative;
}

.post-image {
  width: 100%;
  border-radius: 10px;
  margin: 8px 0;
  cursor: pointer;
}

/* DOUBLE TAP HEART OVERLAY */
.heart-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  font-size: 80px;
  color: rgba(255, 0, 0, 0.9);
  animation: pop 0.7s ease forwards;
  pointer-events: none;
}

@keyframes pop {
  0% {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
  }
  50% {
    transform: translate(-50%, -50%) scale(1.2);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
}

/* ACTIONS */
.post-actions {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 6px;
}







/* LIKE COUNT */
.like-count {
  cursor: pointer;
  font-size: 13px;
  color: #555;
}

/* LIKED USERS */
.liked-users {
  margin-top: 4px;
  font-size: 13px;
  color: #333;
}

.liked-user {
  font-weight: 500;
}

/* COMMENT INPUT */
.comment-input {
  width: 100%;
  margin-top: 8px;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}
